.counter {
  min-width: 360px;
  max-width: 500px;
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #000;
}

.counter .value-box {
  margin-bottom: 1rem;
  border: 1px solid #000;
}

.counter .button-container {
  display: flex;
  justify-content: space-between;
}

.counter .button-container button {
  width: 32%;
  border: none;
  background: #0d47a1;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.counter .button-container button:hover {
  background: #1976d2;
}

.counter .button-container button:focus {
  outline: 0;
}
